<nav class=" bg-gray-900 ">
  <div class="container flex justify-between mx-auto py-4 text-white">
    <div>
      <h1 class="text-2xl font-bold">SGithub</h1>
    </div>
    <div  class="flex gap-6 justify-center items-center">
      <a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="text-blue-500" routerLink="/" class="flex gap-2 justify-center items-center">
      <mat-icon>home</mat-icon>
        Home
      </a>
      <a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="text-blue-500" routerLink="/search" class="flex gap-2 justify-center items-center">
      <mat-icon>search</mat-icon>

        Search</a>
    </div>
  </div>
</nav>
