<div class="container w-screen h-[85vh] flex justify-center items-center">
  <div class="flex flex-col gap-4 items-center justify-center">
    <img src="/assets/landing.svg" alt="Developer" class="w-[300px]">
    <div class="flex flex-col items-center justify-center">

      <p class="text-2xl font-bold w-[500px] text-center">Discover GitHub's Finest: Explore Profiles, Projects, and Passionate Developers!</p>
      <button routerLink="/search" class="text-white py-2 px-4 rounded-lg bg-gray-900 hover:bg-gray-950 transition">Start Exploring</button>
    </div>
    </div>

</div>
